/* default */
@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

/* title */
@font-face {
	font-family: 'HSJiptokki-Round';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSJiptokki-Round.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}

:root {
	--black: #000;
	--white: #fff;
	--point: #e6ff33;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
button {
	border: none;
	background-color: transparent;
}

.wrap {
	position: absolute;
	left: 50%;
	top: 50%;
	display: flex;
	flex-direction: column;
	width: 360px;
	min-height: 580px;
	height: 50vh;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	border: 2px solid var(--black);
	border-radius: 1rem;
	overflow: hidden;
}
.header {
	padding: 1rem;
	font-weight: bold;
	text-align: center;
}
.header h1 {
	margin: 0;
	padding: 0;
	font-family: 'HSJiptokki-Round';
	font-size: 2rem;
	border-bottom: 1px solid var(--black);
}
.btns {
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* gap: 0.5rem; */
	margin-top: 0.5rem;
}
.btns button {
	position: relative;
	padding: 0.3rem 0.5rem;
	color: var(--white);
	font-size: 0.7rem;
	/* border-radius: 0.2rem; */
	background-color: var(--black);
	/* border-bottom: 2px solid var(--black); */
}
.btns button:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 2px;
	background-color: var(--black);
	transition: all 0.5s;
}
.btns button:hover {
	transform: scale(1.1);
}
.list {
	padding: 0 1rem;
	margin: 0;
	list-style: none;
	overflow-y: auto;
}
.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 61px;
	padding: 0.8rem 0;
	border-bottom: 2px dashed var(--black);
	box-sizing: border-box;
}
.item:hover {
	background-color: #eee;
}
.item > div {
	display: flex;
	align-items: flex-start;
	flex-grow: 1;
	margin-right: 0.5rem;
}

.item input[type='checkbox']:checked + label {
	text-decoration: line-through;
}
.item__label {
	margin-left: 0.4rem;
	width: 100%;
}
.item__btn {
	display: block;
	margin-left: auto;
	padding: 0.5rem;
	font-size: 1rem;
	transition: all 0.5s;
}
.item__btn:hover {
	transform: scale(1.2);
}
.footer {
	width: 100%;
	margin-top: auto;
	background-color: var(--black);
	box-sizing: border-box;
}
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form__input {
	display: block;
	padding: 0.5rem;
	width: 100%;
	height: 3rem;
	border: none;
	border-top: 1px solid #565656;
	box-sizing: border-box;
}
.form__btn {
	margin: 0.5rem;
	width: 2.4rem;
	height: 2.4rem;
	font-size: 1.5rem;
	/* line-height: 2.4rem; */
	/* color: var(--white); */
	background-color: var(--white);
	border-radius: 100%;
}
